@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #171717;
  --primary: #606c38;
  --secondary: #fefae0;
  --lightText: #f5f3f3;
  --darkText: #283618;
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", serif;
}

.oval-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.oval-loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.th {
  @apply p-3 text-left font-semibold text-[16px] capitalize;
}

.td {
  @apply p-3 text-[13.5px] font-medium capitalize;
}
