@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #171717;
  --primary: #606c38;
  --secondary: #fefae0;
  --lightText: #f5f3f3;
  --darkText: #283618;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
}

.oval-loader-container {
  @apply flex items-center justify-center h-screen;
}

.oval-loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.th {
  @apply p-3 text-left font-semibold text-[16px] capitalize;
}

.td {
  @apply p-3 text-[13.5px] font-medium capitalize;
}
